h1 {
   padding-left: 42%;
   color: white;
}
#name {
    margin-left: 44%;
    margin-top: 15%;
}
body {
    background-image: url(http://static4.depositphotos.com/1002075/350/v/950/depositphotos_3509015-Education-word-collage-on-black.jpg);
}
#tag {
    padding-left: 44%;
    margin-top: 7%;
    font-size: 20px;
    color: white;
}
