h1 {
   padding-left: 42%;
   color: white;
}
body {
    background-color: black;
}
#name {
    margin-left: 44%;
    margin-top: 15%;
}
#tag {
    padding-left: 44%;
    margin-top: 7%;
    font-size: 20px;
    color: white;
}
html { 
  background: url('https://i.ytimg.com/vi/ZMGRn0mngTs/maxresdefault.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}