h1 {
   padding-left: 42%;
   color: white;
}
#name {
    margin-left: 44%;
    margin-top: 15%;
}
body {
    background-image: url(http://kingofwallpapers.com/space/space-008.jpg);
    background: no-repeat top center fixed;
}
#tag {
    padding-left: 44%;
    margin-top: 7%;
    font-size: 20px;
    color: white;
}
